@import 'base/color';

.button {
	display: inline-block;
	padding: 0 40px;
	background-color: $couleurPrimaire;
	font-size: 15px;
	color: $couleurNeutre2;
	line-height: 40px;
	text-transform: uppercase;
	transition-property: background-color; 
    transition-duration: 1s; /*ces 2 lignes pour dégradé du hover*/
	border-radius: 10px;
	
	&:hover {
		background-color: aqua;
	}
}

.buttonSubject {
	display: inline-block;
	padding: 0 40px;
	background-color: $couleurNeutre3;
	font-size: 15px;
	color: $couleurNeutre2;
	line-height: 40px;
	text-transform: uppercase;
	transition-property: background-color; 
    transition-duration: 1s; /*ces 2 lignes pour dégradé du hover*/
	border-radius: 10px;
	
	&:hover {
		background-color: $couleurPrimaire;
	}
	
	
}