@import 'base/color';

.header {
	padding: 70px 0 300px 0;
	background: url(img/header.jpg) center top fixed;
	background-size: cover;
	text-align: center;
}

.header-logo {
	display: block;
	float: left;
	padding-top: 80px;
}

a {
	color: inherit; //herite de la couleur du parent
	text-decoration: none;
}

.menu {
	font-size: 18px;
	color: $couleurNeutre2;
	font-weight: 600; 
	
}

.menu-item {
	
	&:before {
	content: '//'; //rejoute les slashs
	padding: 0 37px;
	display: inline-block;
	color: $couleurNeutre2;
	}
	
	&:first-child:before {display: none;}
	&:hover {
		color: $couleurNeutre;
	}
	&.is-active { //quand on est dessus
		color: $couleurNeutre;
	}
	
}

.logoMenu {
	margin-top: -100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header-baseline {
	font-weight: 300;
	font-size: 45px;
	color: $couleurNeutre2;
	text-transform: uppercase; //en majuscule
	text-align: center;
	margin: 180px 0 80px 0;//haut droite gauche bas

}

.header-baseline-l2{
	font-size: 60px;
}

